<div class="banner @@extraClass">
  <div class="banner__inner">
    <img class="banner__img" width="159" height="54" src="@img/black-friday.jpg" alt="banner-img" loading="lazy">
    <div class="banner__info">
      <div class="banner__info-item banner__title">
        Black Friday<span class="banner__title-comma">,</span>
      </div>
      <div class="banner__info-item banner__discount">10%OFF</div>
      <div class="banner__info-item banner__promotional">
        <span class="banner__promotional-title">Use code</span>
        <span class="banner__promotional-code">10FRIDAY</span>
        <span class="banner__promotional-checkout">at checkout</span>
      </div>
    </div>
    <a href="#" class="banner__button">
      <div class="banner__button-btn btn btn--color-white">
        <span class="banner__button-text">
          Shop now
          <span class="banner__button-text-additional">throught Monday</span>
        </span>
      </div>
      <svg class="banner__button-icon" aria-hidden="true"><use xlink:href='./img/icons/icons.svg#arrow'></use></svg>
    </a>
    <button type="button" class="banner__cross" aria-label="Close banner">
      <svg aria-hidden="true"><use xlink:href='./img/icons/icons.svg#close'></use></svg>
    </button>
  </div>
</div>
